{section:Site/Front/Resource/html/parts/header}
{section:Site/Front/Resource/html/parts/menu}
<section class="container-fluid">
    {page.content}
    <aside>
        <div>
            <h4>About this article</h4>
            <ul>
                <li><i class="fi fi-clock" data-tags="interfaces"></i> {convert.date:{page.updatedat}}</li>
                <li>Rank : 3.2 / 5</li>
                <li>{page.keywords}</li>
            </ul>
            <hr class="light">
            <h4>Author Information</h4>
            <blockquote class="citation">{page.auth.description}</blockquote>
            <ul>
                <li>{page.auth.fullname}</li>
                <li>{page.auth.job}</li>
                <li>{page.rank} <i class="fi fi-stuck-out-tongue" data-tags="emoji"></i></li>
            </ul>
        </div>
    </aside>
</section>
{section:Site/Front/Resource/html/parts/footer}