{section:Site/Front/Resource/html/parts/header}
{section:Site/Front/Resource/html/parts/menu}
<section class="container-fluid">
    <main>
        <nav class="breadcrumb">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        {section:Site/Front/Resource/html/parts/icons}
        <footer>
            <h3>Like this article ?
            </h3>
            <ul id="vote" data-target="/api/vote" class="inline flex-around">
                <li class="text-center"><a href="#" data-value="4" class="icon"><i class="fi fi-stuck-out-tongue"></i>
                    Perfect</a></li>
                <li class="text-center"><a href="#" data-value="3" class="icon"><i class="fi fi-stuck-out-tongue"></i>
                    Yes</a></li>
                <li class="text-center"><a href="#" data-value="2" class="icon"><i class="fi fi-neutral"></i>
                    Neutral</a></li>
                <li class="text-center"><a href="#" data-value="1" class="icon"><i class="fi fi-confused"></i> No</a>
                </li>
                <li class="text-center"><a href="#" data-value="0" class="icon"><i class="fi fi-zipper-mouth"></i> Rage</a>
                </li>
            </ul>
        </footer>
    </main>
    <aside>
        <div>
            <h4>About this article</h4>
            <ul>
                <li>Rank : 3.2 / 5</li>
                <li>Algorithmic, Math</li>
            </ul>
            <hr class="light">
            <h4>Author Information</h4>
            <blockquote class="citation">The future can be green</blockquote>
            <ul>
                <li>Jean dupont</li>
                <li>Algorithmic expert</li>
                <li>Rank</li>
            </ul>
        </div>
    </aside>
</section>
{section:Site/Front/Resource/html/parts/footer}