{section:Site/Admin/Resource/html/parts/header}
{section:Site/Admin/Resource/html/parts/modal}
<section class="row">
    <header class="bg-gradient-primary col-12">

    </header>
    {section:Site/Admin/Resource/html/parts/menu}
    <main class="bg-light col-11 col-sm-10">
        <div id="icons-module">
            {section:Site/Front/Resource/html/parts/icons}
        </div>
    </main>
</section>
{section:Site/Admin/Resource/html/parts/footer}


