{section:Site/Admin/Resource/html/parts/header}
{section:Site/Admin/Resource/html/parts/modal}
<section class="row">
    <header class="bg-gradient-primary col-12">

    </header>
    {section:Site/Admin/Resource/html/parts/menu}
    <main class="bg-light col-11 col-sm-10">
        <div id="page-module" class="row">
            <header class="bg-dark">
                <ul class="flex-right">
                    <li><a href="#page-modal-create" class="toggle-open" title="Create new page"><i class="fi fi-file-1"
                                                                                                    data-tags="editor"></i></a>
                    </li>
                </ul>
            </header>
            <aside class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                <ul>
                    [foreach:PageTree:menu as pageTreeItem]
                    <li>
                        <div id="pagelink-{pageTreeItem.id}" data-parent="{pageTreeItem.parent}">
                            <a id="pagelink{pageTreeItem.id}" href="#page-{pageTreeItem.id}" class="toggle-open">{pageTreeItem.title}</a>
                            <ul>
                                [foreach:PageTreeSub:pageTreeItem.child as sub]
                                    <li><a id="pagelink{sub.id}" href="#page-{sub.id}" class="toggle-open">{sub.title}</a></li>
                                [foreach:PageTreeSub]
                            </ul>
                        </div>
                    </li>
                    [foreach:PageTree]
                </ul>
            </aside>
            <main class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-9">
                [foreach:PageContent:pages as PageModuleElement]
                <div id="page-{PageModuleElement.id}">
                    <header>
                        <h2>{PageModuleElement.title}</h2>
                        <p><span>Created at {convert.date:{PageModuleElement.createdat}}</span><span>Last update on {convert.date:{PageModuleElement.updatedat}}</span>
                        </p>
                        <p>{PageModuleElement.description}</p>
                        <p class="action text-right">
                            <a href="{PageModuleElement.slug}" target="_blank"><i class="fi fi-eye"
                                                                                  data-tags="interfaces"></i></a>
                            <a href="#page-modal-edit" class="toggle-open form-prefill" data-src="/admin/api/page/get/{PageModuleElement.id}"><i
                                    class="fi fi-spinner-cog" data-tags="spinner"></i></a>
                            <a href="/admin/api/page/delete/{PageModuleElement.id}" class="validation ajax"
                               data-refresh="true" title="Delete this page"><i class="fi fi-trash"
                                                                               data-tags="interfaces"></i></a>
                        </p>
                    </header>
                    <main>
                        <h3>Preview</h3>
                        <div>
                            {PageModuleElement.content}
                        </div>
                    </main>
                </div>
                [foreach:PageContent]
            </main>
        </div>
    </main>
</section>
{section:Site/Admin/Resource/html/parts/footer}