
<div class="assets">
    {assets:Site/Admin/Resource/assets/js/ajax/ajax.js}
    {assets:Site/Admin/Resource/assets/js/form/form.js}
    {assets:Site/Admin/Resource/assets/js/form/wysiwyg/wysiwyg.js}
    {assets:Site/Admin/Resource/assets/js/main.js}
</div>
</body>
</html>