<aside id="tools" class="bg-dark col-1 col-sm-2">
    <ul>
        <li><a href="/admin/dashboard/pages" class="page"><span class="hide-xs hide-sm hide-md">Page</span></a></li>
        <li><a href="/admin/dashboard/users" class="user"><span class="hide-xs hide-sm hide-md">Users</span></a></li>
        <li><a href="/admin/dashboard/icons" class="icons"><span class="hide-xs hide-sm hide-md">Icons</span></a></li>
        <li><a href="/admin/dashboard/logout" class="logout ajax" data-redirect="/admin"><span class="hide-xs hide-sm hide-md">Logout</span></a></li>
    </ul>
</aside>