.hide {
    display: none;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -20px;
}
*[class*="col-"] {
    float: left;
    padding: 0 var(--padding-default);
}

@media (max-width: 1200px){
    *[class*="col-xl"] {
        width: 100%;
    }
    .hide-xl {
        display: none;
    }
}
@media (max-width: 1000px){
    *[class*="col-lg"] {
        width: 100%;
    }
    .hide-lg {
        display: none;
    }
}
@media (max-width: 750px){
    *[class*="col-md"] {
        width: 100%;
    }
    .hide-md {
        display: none;
    }
}
@media (max-width: 450px){
    *[class*="col-sm"] {
        width: 100%;
    }
    .hide-xs {
        display: none;
    }
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.67%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.67%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 67.67%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.67%;
}
.col-12 {
    width: 100%;
}

@media (min-width: 450px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.67%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.67%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 67.67%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.67%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 750px) {
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.67%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.67%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 67.67%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.67%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.67%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.67%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 67.67%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.67%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.67%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.67%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 67.67%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.67%;
    }
    .col-xl-12 {
        width: 100%;
    }
}