
<footer class="flex-center">
    <div>
        <h2 class="h4">Information</h2>
        <ul>
            <li>Anatole Piveteau</li>
            <li>Hi, i'm a french backend developer interested about algorithmic problem and performance research</li>
        </ul>
    </div>
    <div>
        <h2 class="h4">Sitemap</h2>
        <ul class="inline">
            <li><a href="/contact">Contact</a></li>
            <li><a href="/home/anatole-piveteau">About Me</a></li>
            <li><a href="/documentation">Projects</a></li>
        </ul>
    </div>
    <div>
        <h2 class="h4">Contact</h2>
        <form action="">
            <div><label for="subject">Subject</label><input type="text" placeholder="Contact" name="subject" id="subject"></div>
            <div><textarea name="message" id="" cols="30" rows="10">Message ....</textarea></div>
            <button>Send !</button>
        </form>
    </div>
</footer>
<div id="tools">
    <ul>
        <li><a href="#comment"><i class="fi fi-comments"></i></a></li>
        <li><a href="#like"><i class="fi fi-share"></i></a></li>
        <li><a href="#top"><i class="fi fi-angle-up"></i></a></li>
    </ul>
</div>
<div class="assets">
    {assets:Site/Front/Resource/assets/js/libs/fixheader/header.js}
    {assets:Site/Front/Resource/assets/js/libs/fixtools/fixtools.js}
    {assets:Site/Front/Resource/assets/js/libs/fixheader/fixheader.js}
    {assets:Site/Front/Resource/assets/js/libs/header/header.js}
    {assets:Site/Front/Resource/assets/js/libs/splash/splash.js}
    {assets:Site/Front/Resource/assets/js/main.js}
</div>
</body>
</html>