{section:Site/Admin/Resource/html/parts/header}
<section id="access" class="bg-gradient-primary">
    <div id="brand" class="text-center">
        <a href="/">Web-Stud.io
            <hr>
        manager</a>
    </div>
    <div id="login" class="bg-light">
        <header class="text-right bg-dark">Authentication</header>
        <form class="ajax" action="/admin/verify" method="post" data-redirect="/admin/dashboard">
            <div><label for="username">Username</label><input type="text" id="username" name="username" data-field="username"></div>
            <div><label for="password">Password</label><input type="password" id="password" name="password" data-field="password"></div>
            <input class="desillusion" type="hidden" value="">
            <p class="text-right">
                <button class="btn btn-dark">connect</button>
            </p>
        </form>
    </div>
</section>
{section:Site/Admin/Resource/html/parts/footer}